<div id='zones' ng-controller="ZonesPresenter">
	<div class='panel panel-info'>
		<div class='panel-heading'>
			<h1 class='panel-title'>Zones of Authority</h1>
		</div>
		<table class='table table-striped table-hover'>
			<thead>
				<tr>
					<th>Zone</th>
					<th>Name Server</th>
					<th>Administrator</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="zone in zones">
					<td><a href='zone/{{zone.fqdn}}'>{{zone.fqdn}}</a></td>
					<td>{{zone.nameServer}}</td>
					<td>{{zone.administrator}}</td>
					<td>{{zone.state}}</td>
					<td>
						<a href='zone/{{zone.fqdn}}'><span class='glyphicon glyphicon-cog'></span> Details</a>
					</td>
				</tr>
				<tr ng-controller="NewZone" id='new-zone'>
					<td><input type='text' ng-model="fqdn" /></td>
					<td><input type='text' ng-model="nameServer" /></td>
					<td><input type='text' ng-model="administrator" /></td>
					<td></td>
					<td><button type='button' ng-click="addZone()">Add Zone</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
