<h2>Zone: {{fqdn}}</h2>
<table id='resource-records' class='table'>
	<caption><h3>Resource Records</h3></caption>
	<thead>
		<tr>
			<th>Host</th>
			<th>Type</th>
			<th>Data</th>
			<th>Status</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='record in rr'>
			<td class='rr-host'>{{record.host}}</td>
			<td class='rr-type'>{{record.type}}</td>
			<td class='rr-data'>{{record.data}}</td>
			<td class='rr-data'>{{record.status}}</td>
			<th class='rr-ops'>
				<button ng-click='deleteResource(record)'>Delete</button>
			</th>
		</tr>
		<tr ng-controller='CreateResourceRecord' id='rr-wizard'>
			<td><input type='text' class='rr-host' ng-model='record.host'/></td>
			<td><select ng-model="record.type" ng-options="type for type in types" class='rr-type'></select></td>
			<td><input type='text' class='rr-data' ng-model='record.data'/></td>
			<td></td>
			<td><button name='create-rr' ng-click='addRR()'>Create</button></td>
		</tr>
	</tbody>
</table>
