<h2>{{fqdn}}</h2>
<h3>Resource Records</h3>
<table id='resource-records'>
	<thead>
		<tr>
			<th>Host</th>
			<th>Type</th>
			<th>Data</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='record in rr'>
			<td class='rr-host'>{{record.host}}</td>
			<td class='rr-type'>{{record.type}}</td>
			<td class='rr-data'>{{record.data}}</td>
			<td class='rr-data'>{{record.status}}</td>
		</tr>
	</tbody>
</table>
<div ng-controller='CreateResourceRecord' id='rr-wizard'>
	<h3>Create Resource Record</h3>
	<form name='a-rr'>
		Name: <input type='text' class='rr-host' ng-model='record.host'/> 
		Host: <input type='text' class='rr-data' ng-model='record.data'/>
		<button name='create-rr' ng-click='addRR()'>Create A</button>
	</form>
</div>
